.encuesta{
	/* height: 20rem; */
	padding top: 0rem !important;
	margin top: 0rem !important;
}

.center-block {
	float: none;
}
.panel-heading{
	margin: 0 auto;
}
/* hide input */
input.radio:empty {
	display: none;
}

/* style label */
input.radio:empty~label {
	position: relative; line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty~label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #ffffff;
	border-radius: 15px 15px 15px 15px;
	-ms-flex-align: center;
}

/* toggle hover */
input.radio:hover:not(:checked)~label:before {
	content: '\2713';
	text-indent: .9em;
	font-weight: 900;
}

input.radio:hover:not(:checked)~label {
	color: #ffcee4;
}

/* toggle on */
input.radio:checked~label:before {
	content: '\2713';
	font-weight: 900;
	text-indent: .9rem;

}

input.radio:checked~label:before {
	color: #ffe2e9;
	background-color: #F67D9A;
}

input.radio:checked~label {
	color: #ffffff;
}
/* radio focus */
.encuesta h2{
	color: #ffffff;
	letter-spacing: .2rem;
	font-weight: 700;
}