.logo{
    padding-bottom: 1rem;
    margin: 0 2rem;
}
.logo > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo a:hover{
    color: rgb(233, 93, 121);
    /* background-color: #222; */
}

/*------ NAVBAR ------*/
/* Navbar total */
.navbar{
    display: flex;
    height: 5rem;
    background-color: #FAA6BD;
}

.icono-nav{
    width: 1.5rem;
}

/* Secciones izquierda y derecha */
.bar{
    list-style: none;
    display: flex;
}
.bar > li{
    padding: 1rem 1.5rem;
}

.bar a:hover{
    color: rgb(233, 93, 121);
     /* background-color: #222; */
}

.bar a{
    color: #fcfcfc;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .2rem;
}

/* Seccion izquierda */
.bar.left{
    margin-left: auto;
}

/* Seccion derecha */
.bar.right{
    margin-right: auto;
}

/*------ RESPONSIVIDAD ------*/
@media screen and (max-width: 920px){
    #bar-collapse-l{
        position: fixed;
        inset: 0 30% 0 0;
        background: rgba(51, 51, 51, 0.7);
        backdrop-filter: blur(.3em);
        z-index: 1;
        padding: min(20vh, 10rem) 2rem;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
    }
    .logo{
        margin-left: 3rem;
    }
    #bar-collapse-l[data-visible ="true"]{
        transform: translate(0%);
    }
}

@media (min-width:  921px){
    .navbar-toggler{
        display:none;
    }
}

/* ------ ICONS ------ */
/* Hamburger */
.navbar-toggler{
    background: hsl(344, 92%, 85%);
  /* background-color: rgba(51, 51, 51, 1); */
    color: #ddd;
    z-index: 9999;
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.5rem;
    /* aspect-ratio: 1; */
    cursor: pointer;
}

.navbar-toggler-icon {
    margin: -10px;
}