/* Estilos generales */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-style: light;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    width: 100%;
}

/* Estilos para el HEADER */

/* Estilos para el header : Logo y Nombre Empresa */

.logo{
    width: 4rem;
    margin-right: 1rem;
}

.nombre-empresa{
    margin-left: 5rem;
    font-family: 'Poppins', sans-serif;
}

#navbarColor03{
border-color: black;
}

/* Estilos para el header : Hero */

/*.carousel-caption {
    font-size: medium;
}*/

.titulo-carrusel {
    color: white;
    
}

/* Estilos para el MAIN  */

section{
    margin-top: 5rem;
    padding: .8rem;
    border-radius: .5rem;
}

section p{
    text-align: justify;

}

.carta{
    height: 400px;
    overflow: hidden;
}

.carta img{
    width: 100%;
    object-fit: contain;
    object-position:bottom;
}

h2{
    text-align: center;
}

#quierovender{
    background-color: rgb(234, 237, 226);
    padding: 7rem;
}


/* Estilos para el footer*/

footer{
    background-color: rgba(255, 153, 155, 0.852);
    color: white;
    padding: 2rem; 
    text-align: center;
    
}

/* Responsive */

@media (max-width:480px) {
    
    /* Estilos para carrusel */

    .titulo-carrusel {
        font-size: 2rem;
        color: #FFF;
        margin-bottom: 10px;
    }

    /* Estilos para section */
    section{
        margin-top: 1rem;
        padding: .8rem;
        border-radius: .5rem;
    }

    /* Estilos para footer */

    footer {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (min-width:480px) and (max-width: 768px){

    /* Estilos para carrusel */
    
    .titulo-carrusel {
        font-size: 3rem;
        color: #FFF;
        margin-bottom: 10px;
    }

    /* Estilos para section */
    section{
        margin-top: 1rem;
        padding: .8rem;
        border-radius: .5rem;
    }

    /* Estilos para footer */

    footer {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (min-width:768px) and (max-width: 1024px){

    /* Estilos para carrusel */
    .titulo-carrusel {
        font-size: 4rem;
        color: #FFF;
        margin-bottom: 10px;
    }
    
    /* Estilos para section */
    section{
        margin-top: 1rem;
        padding: .8rem;
        border-radius: .5rem;
    }

    /* Estilos para footer */

    footer {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (min-width: 1024px){

    /* Estilos para carrusel */
    .titulo-carrusel {
        font-size: 4rem;
        color: #FFF;
        margin-bottom: 10px;
    }
    
    /* Estilos para section */
    section{
        margin-top: 1rem;
        padding: .8rem;
        border-radius: .5rem;
    }

    /* Estilos para footer */

    footer {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

#clock{
    /* padding-top: 2rem; */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    /* background-color: rgba(255, 153, 155, 0.852); */
    color: #FFF;
}

