/* Estilos generales */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-style: light;
}

/* Estilos para el header*/

.carousel{
    max-height: 40rem;
}
.carousel-item img{
    object-fit: cover;
    max-height: 40rem;
}
.carousel-caption{
    color: #FFF;
}

/* Estilos para el MAIN  */

section{
    margin-top: 5rem;
    padding: .8rem;
    border-radius: .5rem;
}

section p{
    text-align: justify;

}

.carta{
    height: 400px;
    overflow: hidden;
}

.carta img{
    width: 100%;
    object-fit: contain;
    object-position:bottom;
}

h2{
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 600;
    color: #8c797e;
}

#quierovender{
    background-color: #ffcecea5;
    padding: 7rem;
}

#quienessomos{
    background-color: #ffffff;
    letter-spacing: .05rem;
}

/* Estilos para el footer*/

footer{
    background-color: #FAA6BD;
    padding: 3rem;
    text-align: center;
    text-shadow: #333;
    font-weight: 500;
    letter-spacing: .1rem;
    /* font-weight: bold; */
}

footer .social {
    margin-top: 1rem;
    text-align:center;
}

footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

footer .social > a:hover {
    opacity:0.4;
    }

/* Responsive */

@media (max-width:480px) {
        
    /* Estilos para section */
    section{
        margin-top: 1rem;
        padding: .8rem;
        /* border-radius: .5rem; */
    }

    /* Estilos para footer */
    footer {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width:480px) and (max-width: 768px){
    
    /* Estilos para section */
    section{
        margin-top: 1rem;
        padding: .8rem;
        /* border-radius: .5rem; */
    }

    /* Estilos para footer */

    footer {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width:768px) and (max-width: 1024px){

    /* Estilos para section */
    section{
        margin-top: 1rem;
        padding: .8rem;
        /* border-radius: .5rem; */
    }

    /* Estilos para footer */
    footer {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

#clock{
    padding-top: 2rem;
    text-align: center;
    font-size: larger;
    background-color: #FAA6BD;
    color: #FFF;
}

.flecha{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 70px;
    left: 20px;
    border-radius: 50%;
    padding: 0;
}

.flecha2{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 130px;
    left: 20px;
    border-radius: 50%;
    padding: 0;
}